/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');





/* Asterisk wildcard selector to override default styles added by the browser */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project style */
    color: #3a3a3a;
    
    margin: 0;
    padding: 0;
    background: #ccc;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar ul {
    list-style: none; 
    background: #bd1e43;
    padding: 0;
    margin: 0;
}

.navbar  li {
    display: inline-block;
}

.navbar a {
    text-decoration: none;
    color: #fff;
    width: 100px;
    display: block;
    padding: 25px 20px;   
    text-transform: uppercase;
    font-weight: bold;
    font-family: arial;

}

.navbar a:hover{
    background: #353640;
}

/* Header */
header {
background-color: black;
}

h1 {
    font-family: 'Bungee Spice', sans-serif;
    font-size: 100px;

}

/* Main content */
main {
background-color: lightblue;
/* Make main element take up any surplus space to push footer down */
flex: 1 0 auto;
font-family: 'Bungee Spice', sans-serif;

}

/* Footer */
footer {
background-color: orange;
font-family: 'Bungee Spice', sans-serif;
}